
<div class="container col-md-6">
    <form (ngSubmit)="saveUser()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="user.name" name="name" class="form-control" id="name" placeholder="Enter Name" />
        </div>
        <div class="form-group">
            <label for="username"User >Name</label>
            <input type="text"  [(ngModel)]="user.username" name="username" class="form-control" id="username" placeholder="Enter User Name" />
        </div>
        <div class="form-group">
            <label for="emailId">Email address</label>
            <input type="email"  [(ngModel)]="user.email" name="email" class="form-control" id="emailId" placeholder="Enter Email" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
