<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">User Details</h4>
  <button type="button" class="close" aria-label="Close" (click)="activatedModel.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">Id:</div>
      <div class="col-md-6">{{user.id}}</div>
    </div>
    <div class="row">
      <div class="col-md-6">Name:</div>
      <div class="col-md-6">{{user.name}}</div>
    </div>
    <div class="row">
      <div class="col-md-6">User Name:</div>
      <div class="col-md-6">{{user.username}}</div>
    </div>
    <div class="row">
      <div class="col-md-6">Email:</div>
      <div class="col-md-6">{{user.email}}</div>
    </div>
  </div>
</div>