<div class="container">
    <div class="margin-bottom-10">
        <div>
            <a routerLink="/adduser" class="btn btn-md btn-outline-primary">
            <i class="fa fa-user padding-right-5"></i>Add User</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>User Name</th>
              <th>Email</th>
              <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
              <td><a href="javascript:void(0);" (click)="open(user)"><span>{{user.id}}</span></a></td>
              <td><span>{{user.name}}</span></td>
              <td><span>{{user.username}}</span></td>
              <td><span>{{user.email}}</span></td>
              <td>
                <div>
                    <a routerLink="/edituser/{{user.id}}" class="btn btn-md btn-outline-primary">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
    </div>
  </div>