<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between margin-bottom-10">
  <span class="navbar-brand" *ngIf="!user">Login</span>
  <a href="" class="navbar-brand" *ngIf="user">Home</a>
  <span *ngIf="user" class="welcome-name text-white">Welcome, {{user.fullName}} </span>
  <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <form class="form-inline" *ngIf="user" (ngSubmit)="searchUser()">
      <div>
        <input [(ngModel)]="filters.keyword" name="keyword" class="form-control search-input" type="search" placeholder="Search">
      </div>
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-light search-btn">
          <i class="fa fa-search"></i>
        </button>
      </div>
      
      <a href="javascript:void(0);" class="nav-item nav-link" (click)="logout()">Logout</a>
    </form>
  </div>
  
</nav>