.margin-bottom-10 {
    margin-bottom: 10px;
}
a {
    color: white;
}

a:hover {
    color: #0056b3
}

.welcome-name {
    padding-right: 10px;
}

.search-btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.search-input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}